# Business ARIMA
Only business data for 2016-2023 in this notebook, we perform an ARIMA on the data to forecast data for 2024 and beyond.

In [696]:
# import necessary libraries
import pandas as pd
import statsmodels.api as sm
import warnings

# Suppress all warnings
warnings.filterwarnings("ignore")

In [697]:
# read in the preprocessed business data
osm_data_2016 = pd.read_csv("../../data/curated/osm_data_2016.csv")
osm_data_2017 = pd.read_csv("../../data/curated/osm_data_2017.csv")
osm_data_2018 = pd.read_csv("../../data/curated/osm_data_2018.csv")
osm_data_2019 = pd.read_csv("../../data/curated/osm_data_2019.csv")
osm_data_2020 = pd.read_csv("../../data/curated/osm_data_2020.csv")
osm_data_2021 = pd.read_csv("../../data/curated/osm_data_2021.csv")
osm_data_2022 = pd.read_csv("../../data/curated/osm_data_2022.csv")
osm_data_2023 = pd.read_csv("../../data/curated/osm_data_2023.csv")

In [698]:
# add a year column to all the datasets
osm_data_2016["year"] = 2016
osm_data_2017["year"] = 2017
osm_data_2018["year"] = 2018
osm_data_2019["year"] = 2019
osm_data_2020["year"] = 2020
osm_data_2021["year"] = 2021
osm_data_2022["year"] = 2022
osm_data_2023["year"] = 2023

In [699]:
dfs = [osm_data_2016, osm_data_2017, osm_data_2018, osm_data_2019, osm_data_2020, osm_data_2021, osm_data_2022, osm_data_2023]

In [700]:
merged_df = pd.concat(dfs, axis=0)
print(merged_df.shape)
merged_df.head(5)

(11966, 11)

,SAL_CODE,commercial,education,food_establishments,healthcare,industrial,public_transport,recreation,residential,shopping,year
0,20002,7,4,49,1,3,0,18,6,15,2016
1,20003,1,5,3,0,0,0,11,0,1,2016
2,20007,0,0,0,0,0,0,0,1,0,2016
3,20010,0,0,0,0,1,0,0,0,0,2016
4,20013,0,1,4,0,0,0,6,0,2,2016

In [701]:
merged_df[merged_df["SAL_CODE"]==20002].sort_values("year")

,SAL_CODE,commercial,education,food_establishments,healthcare,industrial,public_transport,recreation,residential,shopping,year
0,20002,7,4,49,1,3,0,18,6,15,2016
0,20002,10,4,48,1,4,0,20,6,16,2017
0,20002,10,4,52,1,4,0,19,6,18,2018
0,20002,10,4,52,1,4,0,19,6,19,2019
0,20002,10,5,55,1,4,0,22,7,21,2020
0,20002,9,5,55,1,4,0,24,8,21,2021
0,20002,13,5,60,2,4,0,22,8,24,2022
0,20002,19,4,62,2,5,0,26,14,23,2023

In [702]:
# read in historical rent data to get a list of SAL codes that we need to ARIMA the business data on
historical_rent_df = pd.read_csv("../../data/curated/historical_rent_cleaned.csv")
print(historical_rent_df.shape)
historical_rent_df.head(5)

(567, 51)

,SAL_CODE,2000_average_weekly_rent,2000_average_quarterly_count,2001_average_weekly_rent,2001_average_quarterly_count,2002_average_weekly_rent,2002_average_quarterly_count,2003_average_weekly_rent,2003_average_quarterly_count,2004_average_weekly_rent,...,2020_average_weekly_rent,2020_average_quarterly_count,2021_average_weekly_rent,2021_average_quarterly_count,2022_average_weekly_rent,2022_average_quarterly_count,2023_average_weekly_rent,2023_average_quarterly_count,2024_average_weekly_rent,2024_average_quarterly_count
0,20111,137.0,979.50,141.25,857.00,151.25,896.00,161.25,948.25,171.25,...,317.50,1743.75,331.25,1632.25,355.00,1546.50,371.25,1473.25,380.0,1345.0
1,20198,190.0,505.75,207.75,502.50,216.25,529.00,221.25,525.75,226.25,...,466.25,720.00,457.00,643.25,432.50,872.25,495.00,764.75,550.0,729.0
2,21193,200.0,608.25,207.50,765.50,210.00,1059.50,210.00,1334.00,217.50,...,400.00,2389.25,400.00,2591.50,411.25,3047.50,437.50,3557.00,470.0,3777.0
3,21640,320.0,2278.75,320.00,2752.50,320.00,3382.75,305.00,3972.75,300.00,...,483.75,10206.25,366.25,16559.25,426.25,14627.75,587.50,13547.25,640.0,13582.0
4,21938,142.5,443.50,151.25,434.75,161.25,429.50,171.25,473.00,178.75,...,390.75,434.50,407.50,428.50,432.50,365.25,465.00,312.50,475.0,356.0

In [703]:
# variable assignment cell in preparation for the ARIMA
df = merged_df
sal_codes = list(historical_rent_df["SAL_CODE"].unique())
business_types = list(df.columns)
business_types.remove("SAL_CODE")
business_types.remove("year")
print(len(sal_codes))

567

In [704]:
# convert all business columns to a float data type so the ARIMA can be performed
df = df.astype({'commercial': 'float64', 'education': 'float64', 'food_establishments': 'float64',
                'healthcare': 'float64', 'industrial': 'float64', 'public_transport': 'float64',
                'recreation': 'float64', 'residential': 'float64', 'shopping': 'float64'})

# ensure all values are converted and nothing is converted to 'null' or 'NaN'
print(df.isna().sum())
df[df.isna().any(axis=1)]

SAL_CODE               0
commercial             0
education              0
food_establishments    0
healthcare             0
industrial             0
public_transport       0
recreation             0
residential            0
shopping               0
year                   0
dtype: int64

Empty DataFrame
Columns: [SAL_CODE, commercial, education, food_establishments, healthcare, industrial, public_transport, recreation, residential, shopping, year]
Index: []

In [705]:
df.dtypes

SAL_CODE                 int64
commercial             float64
education              float64
food_establishments    float64
healthcare             float64
industrial             float64
public_transport       float64
recreation             float64
residential            float64
shopping               float64
year                     int64
dtype: object

In [706]:
# ARIMA the business data

iteration = 0
for sal in sal_codes:

    # create a temporary df of all business data of a SAL code (all years included)
    temp_df = df[df["SAL_CODE"] == sal]
    temp_df = temp_df.sort_values("year")
    code_2024_results = {"year": 2024}
    code_2025_results = {"year": 2025}
    code_2026_results = {"year": 2026}
    code_2027_results = {"year": 2027}
    code_2028_results = {"year": 2028}
    code_dicts = [code_2024_results, code_2025_results, code_2026_results, code_2027_results, code_2028_results]
    for code_dict in code_dicts:
        code_dict["SAL_CODE"] = sal
    iteration += 1

    # ARIMA over all business type data
    for col in business_types:
        # Ensure the temp_df[col] contains numeric values without NaN
        temp_df[col] = pd.to_numeric(temp_df[col], errors='coerce')
        temp_df = temp_df.dropna(subset=[col])  # Drop rows with NaN in column

        # ARIMA where there is data from more than two years worth of data
        if len(temp_df) > 2:
            forecast_steps = 5

            # Fit and forecast ARIMA model
            model = sm.tsa.ARIMA(temp_df[col], order=(1, 1, 1))
            model_fit = model.fit()
            forecast = model_fit.forecast(steps=forecast_steps).to_numpy()
        
            # Store forecast results
            for code_dict in code_dicts:
                code_dict[col] = round(float(forecast[code_dict["year"]-2024]),3)
        
        # EXCEPTION HANDLING

        # Assume it increases by the same difference (linearly) between the two measures each year
        elif len(temp_df) == 2:
            diff = temp_df.iloc[1][col] - temp_df.iloc[0][col]
            for code_dict in code_dicts:
                code_dict[col] = temp_df.iloc[1][col] + diff*code_dict["year"]-2023
        # if 1 years of business data avaliable asumme the business count is constant here
        elif len(temp_df) == 1:
            for code_dict in code_dicts:
                code_dict[col] = temp_df.iloc[0][col]
        # where there is no business data avaliable we assume there is no businesses here and assign the value 0
        # as the osm dataset was very complete anwyay
        else: #len(temp_df) == 0:
            for code_dict in code_dicts:
                code_dict[col] = 0
    # append this data to the dataframe of all the data
    for code_dict in code_dicts:
        df = pd.concat([df, pd.DataFrame([code_dict])], ignore_index=True)
    print(f"SAL code iteration {iteration} complete")

SAL code iteration 1 complete
SAL code iteration 2 complete
SAL code iteration 3 complete
SAL code iteration 4 complete
SAL code iteration 5 complete
SAL code iteration 6 complete
SAL code iteration 7 complete
SAL code iteration 8 complete
SAL code iteration 9 complete
SAL code iteration 10 complete
SAL code iteration 11 complete
SAL code iteration 12 complete
SAL code iteration 13 complete
SAL code iteration 14 complete
SAL code iteration 15 complete
SAL code iteration 16 complete
SAL code iteration 17 complete
SAL code iteration 18 complete
SAL code iteration 19 complete
SAL code iteration 20 complete
SAL code iteration 21 complete
SAL code iteration 22 complete
SAL code iteration 23 complete
SAL code iteration 24 complete
SAL code iteration 25 complete
SAL code iteration 26 complete
SAL code iteration 27 complete
SAL code iteration 28 complete
SAL code iteration 29 complete
SAL code iteration 30 complete
SAL code iteration 31 complete
SAL code iteration 32 complete
SAL code iteration 33 complete
SAL code iteration 34 complete
SAL code iteration 35 complete
SAL code iteration 36 complete
SAL code iteration 37 complete
SAL code iteration 38 complete
SAL code iteration 39 complete
SAL code iteration 40 complete
SAL code iteration 41 complete
SAL code iteration 42 complete
SAL code iteration 43 complete
SAL code iteration 44 complete
SAL code iteration 45 complete
SAL code iteration 46 complete
SAL code iteration 47 complete
SAL code iteration 48 complete
SAL code iteration 49 complete
SAL code iteration 50 complete
SAL code iteration 51 complete
SAL code iteration 52 complete
SAL code iteration 53 complete
SAL code iteration 54 complete
SAL code iteration 55 complete
SAL code iteration 56 complete
SAL code iteration 57 complete
SAL code iteration 58 complete
SAL code iteration 59 complete
SAL code iteration 60 complete
SAL code iteration 61 complete
SAL code iteration 62 complete
SAL code iteration 63 complete
SAL code iteration 64 complete
SAL code iteration 65 complete
SAL code iteration 66 complete
SAL code iteration 67 complete
SAL code iteration 68 complete
SAL code iteration 69 complete
SAL code iteration 70 complete
SAL code iteration 71 complete
SAL code iteration 72 complete
SAL code iteration 73 complete
SAL code iteration 74 complete
SAL code iteration 75 complete
SAL code iteration 76 complete
SAL code iteration 77 complete
SAL code iteration 78 complete
SAL code iteration 79 complete
SAL code iteration 80 complete
SAL code iteration 81 complete
SAL code iteration 82 complete
SAL code iteration 83 complete
SAL code iteration 84 complete
SAL code iteration 85 complete
SAL code iteration 86 complete
SAL code iteration 87 complete
SAL code iteration 88 complete
SAL code iteration 89 complete
SAL code iteration 90 complete
SAL code iteration 91 complete
SAL code iteration 92 complete
SAL code iteration 93 complete
SAL code iteration 94 complete
SAL code iteration 95 complete
SAL code iteration 96 complete
SAL code iteration 97 complete
SAL code iteration 98 complete
SAL code iteration 99 complete
SAL code iteration 100 complete
SAL code iteration 101 complete
SAL code iteration 102 complete
SAL code iteration 103 complete
SAL code iteration 104 complete
SAL code iteration 105 complete
SAL code iteration 106 complete
SAL code iteration 107 complete
SAL code iteration 108 complete
SAL code iteration 109 complete
SAL code iteration 110 complete
SAL code iteration 111 complete
SAL code iteration 112 complete
SAL code iteration 113 complete
SAL code iteration 114 complete
SAL code iteration 115 complete
SAL code iteration 116 complete
SAL code iteration 117 complete
SAL code iteration 118 complete
SAL code iteration 119 complete
SAL code iteration 120 complete
SAL code iteration 121 complete
SAL code iteration 122 complete
SAL code iteration 123 complete
SAL code iteration 124 complete
SAL code iteration 125 complete
SAL code iteration 126 complete
SAL code iteration 127 complete
SAL code iteration 128 complete
SAL code iteration 129 complete
SAL code iteration 130 complete
SAL code iteration 131 complete
SAL code iteration 132 complete
SAL code iteration 133 complete
SAL code iteration 134 complete
SAL code iteration 135 complete
SAL code iteration 136 complete
SAL code iteration 137 complete
SAL code iteration 138 complete
SAL code iteration 139 complete
SAL code iteration 140 complete
SAL code iteration 141 complete
SAL code iteration 142 complete
SAL code iteration 143 complete
SAL code iteration 144 complete
SAL code iteration 145 complete
SAL code iteration 146 complete
SAL code iteration 147 complete
SAL code iteration 148 complete
SAL code iteration 149 complete
SAL code iteration 150 complete
SAL code iteration 151 complete
SAL code iteration 152 complete
SAL code iteration 153 complete
SAL code iteration 154 complete
SAL code iteration 155 complete
SAL code iteration 156 complete
SAL code iteration 157 complete
SAL code iteration 158 complete
SAL code iteration 159 complete
SAL code iteration 160 complete
SAL code iteration 161 complete
SAL code iteration 162 complete
SAL code iteration 163 complete
SAL code iteration 164 complete
SAL code iteration 165 complete
SAL code iteration 166 complete
SAL code iteration 167 complete
SAL code iteration 168 complete
SAL code iteration 169 complete
SAL code iteration 170 complete
SAL code iteration 171 complete
SAL code iteration 172 complete
SAL code iteration 173 complete
SAL code iteration 174 complete
SAL code iteration 175 complete
SAL code iteration 176 complete
SAL code iteration 177 complete
SAL code iteration 178 complete
SAL code iteration 179 complete
SAL code iteration 180 complete
SAL code iteration 181 complete
SAL code iteration 182 complete
SAL code iteration 183 complete
SAL code iteration 184 complete
SAL code iteration 185 complete
SAL code iteration 186 complete
SAL code iteration 187 complete
SAL code iteration 188 complete
SAL code iteration 189 complete
SAL code iteration 190 complete
SAL code iteration 191 complete
SAL code iteration 192 complete
SAL code iteration 193 complete
SAL code iteration 194 complete
SAL code iteration 195 complete
SAL code iteration 196 complete
SAL code iteration 197 complete
SAL code iteration 198 complete
SAL code iteration 199 complete
SAL code iteration 200 complete
SAL code iteration 201 complete
SAL code iteration 202 complete
SAL code iteration 203 complete
SAL code iteration 204 complete
SAL code iteration 205 complete
SAL code iteration 206 complete
SAL code iteration 207 complete
SAL code iteration 208 complete
SAL code iteration 209 complete
SAL code iteration 210 complete
SAL code iteration 211 complete
SAL code iteration 212 complete
SAL code iteration 213 complete
SAL code iteration 214 complete
SAL code iteration 215 complete
SAL code iteration 216 complete
SAL code iteration 217 complete
SAL code iteration 218 complete
SAL code iteration 219 complete
SAL code iteration 220 complete
SAL code iteration 221 complete
SAL code iteration 222 complete
SAL code iteration 223 complete
SAL code iteration 224 complete
SAL code iteration 225 complete
SAL code iteration 226 complete
SAL code iteration 227 complete
SAL code iteration 228 complete
SAL code iteration 229 complete
SAL code iteration 230 complete
SAL code iteration 231 complete
SAL code iteration 232 complete
SAL code iteration 233 complete
SAL code iteration 234 complete
SAL code iteration 235 complete
SAL code iteration 236 complete
SAL code iteration 237 complete
SAL code iteration 238 complete
SAL code iteration 239 complete
SAL code iteration 240 complete
SAL code iteration 241 complete
SAL code iteration 242 complete
SAL code iteration 243 complete
SAL code iteration 244 complete
SAL code iteration 245 complete
SAL code iteration 246 complete
SAL code iteration 247 complete
SAL code iteration 248 complete
SAL code iteration 249 complete
SAL code iteration 250 complete
SAL code iteration 251 complete
SAL code iteration 252 complete
SAL code iteration 253 complete
SAL code iteration 254 complete
SAL code iteration 255 complete
SAL code iteration 256 complete
SAL code iteration 257 complete
SAL code iteration 258 complete
SAL code iteration 259 complete
SAL code iteration 260 complete
SAL code iteration 261 complete
SAL code iteration 262 complete
SAL code iteration 263 complete
SAL code iteration 264 complete
SAL code iteration 265 complete
SAL code iteration 266 complete
SAL code iteration 267 complete
SAL code iteration 268 complete
SAL code iteration 269 complete
SAL code iteration 270 complete
SAL code iteration 271 complete
SAL code iteration 272 complete
SAL code iteration 273 complete
SAL code iteration 274 complete
SAL code iteration 275 complete
SAL code iteration 276 complete
SAL code iteration 277 complete
SAL code iteration 278 complete
SAL code iteration 279 complete
SAL code iteration 280 complete
SAL code iteration 281 complete
SAL code iteration 282 complete
SAL code iteration 283 complete
SAL code iteration 284 complete
SAL code iteration 285 complete
SAL code iteration 286 complete
SAL code iteration 287 complete
SAL code iteration 288 complete
SAL code iteration 289 complete
SAL code iteration 290 complete
SAL code iteration 291 complete
SAL code iteration 292 complete
SAL code iteration 293 complete
SAL code iteration 294 complete
SAL code iteration 295 complete
SAL code iteration 296 complete
SAL code iteration 297 complete
SAL code iteration 298 complete
SAL code iteration 299 complete
SAL code iteration 300 complete
SAL code iteration 301 complete
SAL code iteration 302 complete
SAL code iteration 303 complete
SAL code iteration 304 complete
SAL code iteration 305 complete
SAL code iteration 306 complete
SAL code iteration 307 complete
SAL code iteration 308 complete
SAL code iteration 309 complete
SAL code iteration 310 complete
SAL code iteration 311 complete
SAL code iteration 312 complete
SAL code iteration 313 complete
SAL code iteration 314 complete
SAL code iteration 315 complete
SAL code iteration 316 complete
SAL code iteration 317 complete
SAL code iteration 318 complete
SAL code iteration 319 complete
SAL code iteration 320 complete
SAL code iteration 321 complete
SAL code iteration 322 complete
SAL code iteration 323 complete
SAL code iteration 324 complete
SAL code iteration 325 complete
SAL code iteration 326 complete
SAL code iteration 327 complete
SAL code iteration 328 complete
SAL code iteration 329 complete
SAL code iteration 330 complete
SAL code iteration 331 complete
SAL code iteration 332 complete
SAL code iteration 333 complete
SAL code iteration 334 complete
SAL code iteration 335 complete
SAL code iteration 336 complete
SAL code iteration 337 complete
SAL code iteration 338 complete
SAL code iteration 339 complete
SAL code iteration 340 complete
SAL code iteration 341 complete
SAL code iteration 342 complete
SAL code iteration 343 complete
SAL code iteration 344 complete
SAL code iteration 345 complete
SAL code iteration 346 complete
SAL code iteration 347 complete
SAL code iteration 348 complete
SAL code iteration 349 complete
SAL code iteration 350 complete
SAL code iteration 351 complete
SAL code iteration 352 complete
SAL code iteration 353 complete
SAL code iteration 354 complete
SAL code iteration 355 complete
SAL code iteration 356 complete
SAL code iteration 357 complete
SAL code iteration 358 complete
SAL code iteration 359 complete
SAL code iteration 360 complete
SAL code iteration 361 complete
SAL code iteration 362 complete
SAL code iteration 363 complete
SAL code iteration 364 complete
SAL code iteration 365 complete
SAL code iteration 366 complete
SAL code iteration 367 complete
SAL code iteration 368 complete
SAL code iteration 369 complete
SAL code iteration 370 complete
SAL code iteration 371 complete
SAL code iteration 372 complete
SAL code iteration 373 complete
SAL code iteration 374 complete
SAL code iteration 375 complete
SAL code iteration 376 complete
SAL code iteration 377 complete
SAL code iteration 378 complete
SAL code iteration 379 complete
SAL code iteration 380 complete
SAL code iteration 381 complete
SAL code iteration 382 complete
SAL code iteration 383 complete
SAL code iteration 384 complete
SAL code iteration 385 complete
SAL code iteration 386 complete
SAL code iteration 387 complete
SAL code iteration 388 complete
SAL code iteration 389 complete
SAL code iteration 390 complete
SAL code iteration 391 complete
SAL code iteration 392 complete
SAL code iteration 393 complete
SAL code iteration 394 complete
SAL code iteration 395 complete
SAL code iteration 396 complete
SAL code iteration 397 complete
SAL code iteration 398 complete
SAL code iteration 399 complete
SAL code iteration 400 complete
SAL code iteration 401 complete
SAL code iteration 402 complete
SAL code iteration 403 complete
SAL code iteration 404 complete
SAL code iteration 405 complete
SAL code iteration 406 complete
SAL code iteration 407 complete
SAL code iteration 408 complete
SAL code iteration 409 complete
SAL code iteration 410 complete
SAL code iteration 411 complete
SAL code iteration 412 complete
SAL code iteration 413 complete
SAL code iteration 414 complete
SAL code iteration 415 complete
SAL code iteration 416 complete
SAL code iteration 417 complete
SAL code iteration 418 complete
SAL code iteration 419 complete
SAL code iteration 420 complete
SAL code iteration 421 complete
SAL code iteration 422 complete
SAL code iteration 423 complete
SAL code iteration 424 complete
SAL code iteration 425 complete
SAL code iteration 426 complete
SAL code iteration 427 complete
SAL code iteration 428 complete
SAL code iteration 429 complete
SAL code iteration 430 complete
SAL code iteration 431 complete
SAL code iteration 432 complete
SAL code iteration 433 complete
SAL code iteration 434 complete
SAL code iteration 435 complete
SAL code iteration 436 complete
SAL code iteration 437 complete
SAL code iteration 438 complete
SAL code iteration 439 complete
SAL code iteration 440 complete
SAL code iteration 441 complete
SAL code iteration 442 complete
SAL code iteration 443 complete
SAL code iteration 444 complete
SAL code iteration 445 complete
SAL code iteration 446 complete
SAL code iteration 447 complete
SAL code iteration 448 complete
SAL code iteration 449 complete
SAL code iteration 450 complete
SAL code iteration 451 complete
SAL code iteration 452 complete
SAL code iteration 453 complete
SAL code iteration 454 complete
SAL code iteration 455 complete
SAL code iteration 456 complete
SAL code iteration 457 complete
SAL code iteration 458 complete
SAL code iteration 459 complete
SAL code iteration 460 complete
SAL code iteration 461 complete
SAL code iteration 462 complete
SAL code iteration 463 complete
SAL code iteration 464 complete
SAL code iteration 465 complete
SAL code iteration 466 complete
SAL code iteration 467 complete
SAL code iteration 468 complete
SAL code iteration 469 complete
SAL code iteration 470 complete
SAL code iteration 471 complete
SAL code iteration 472 complete
SAL code iteration 473 complete
SAL code iteration 474 complete
SAL code iteration 475 complete
SAL code iteration 476 complete
SAL code iteration 477 complete
SAL code iteration 478 complete
SAL code iteration 479 complete
SAL code iteration 480 complete
SAL code iteration 481 complete
SAL code iteration 482 complete
SAL code iteration 483 complete
SAL code iteration 484 complete
SAL code iteration 485 complete
SAL code iteration 486 complete
SAL code iteration 487 complete
SAL code iteration 488 complete
SAL code iteration 489 complete
SAL code iteration 490 complete
SAL code iteration 491 complete
SAL code iteration 492 complete
SAL code iteration 493 complete
SAL code iteration 494 complete
SAL code iteration 495 complete
SAL code iteration 496 complete
SAL code iteration 497 complete
SAL code iteration 498 complete
SAL code iteration 499 complete
SAL code iteration 500 complete
SAL code iteration 501 complete
SAL code iteration 502 complete
SAL code iteration 503 complete
SAL code iteration 504 complete
SAL code iteration 505 complete
SAL code iteration 506 complete
SAL code iteration 507 complete
SAL code iteration 508 complete
SAL code iteration 509 complete
SAL code iteration 510 complete
SAL code iteration 511 complete
SAL code iteration 512 complete
SAL code iteration 513 complete
SAL code iteration 514 complete
SAL code iteration 515 complete
SAL code iteration 516 complete
SAL code iteration 517 complete
SAL code iteration 518 complete
SAL code iteration 519 complete
SAL code iteration 520 complete
SAL code iteration 521 complete
SAL code iteration 522 complete
SAL code iteration 523 complete
SAL code iteration 524 complete
SAL code iteration 525 complete
SAL code iteration 526 complete
SAL code iteration 527 complete
SAL code iteration 528 complete
SAL code iteration 529 complete
SAL code iteration 530 complete
SAL code iteration 531 complete
SAL code iteration 532 complete
SAL code iteration 533 complete
SAL code iteration 534 complete
SAL code iteration 535 complete
SAL code iteration 536 complete
SAL code iteration 537 complete
SAL code iteration 538 complete
SAL code iteration 539 complete
SAL code iteration 540 complete
SAL code iteration 541 complete
SAL code iteration 542 complete
SAL code iteration 543 complete
SAL code iteration 544 complete
SAL code iteration 545 complete
SAL code iteration 546 complete
SAL code iteration 547 complete
SAL code iteration 548 complete
SAL code iteration 549 complete
SAL code iteration 550 complete
SAL code iteration 551 complete
SAL code iteration 552 complete
SAL code iteration 553 complete
SAL code iteration 554 complete
SAL code iteration 555 complete
SAL code iteration 556 complete
SAL code iteration 557 complete
SAL code iteration 558 complete
SAL code iteration 559 complete
SAL code iteration 560 complete
SAL code iteration 561 complete
SAL code iteration 562 complete
SAL code iteration 563 complete
SAL code iteration 564 complete
SAL code iteration 565 complete
SAL code iteration 566 complete
SAL code iteration 567 complete

In [707]:
df[df["SAL_CODE"]==20002].sort_values("year")

,SAL_CODE,commercial,education,food_establishments,healthcare,industrial,public_transport,recreation,residential,shopping,year
0,20002,7.000,4.0,49.000,1.0,3.0,0.0,18.000,6.000,15.000,2016
1360,20002,10.000,4.0,48.000,1.0,4.0,0.0,20.000,6.000,16.000,2017
2753,20002,10.000,4.0,52.000,1.0,4.0,0.0,19.000,6.000,18.000,2018
4205,20002,10.000,4.0,52.000,1.0,4.0,0.0,19.000,6.000,19.000,2019
5700,20002,10.000,5.0,55.000,1.0,4.0,0.0,22.000,7.000,21.000,2020
7217,20002,9.000,5.0,55.000,1.0,4.0,0.0,24.000,8.000,21.000,2021
8767,20002,13.000,5.0,60.000,2.0,4.0,0.0,22.000,8.000,24.000,2022
10333,20002,19.000,4.0,62.000,2.0,5.0,0.0,26.000,14.000,23.000,2023
11991,20002,21.350,4.0,63.460,2.0,5.0,0.0,24.657,15.340,23.916,2024
11992,20002,21.760,4.0,64.921,2.0,5.0,0.0,25.077,16.440,24.832,2025
11993,20002,21.832,4.0,66.381,2.0,5.0,0.0,24.945,17.341,25.748,2026
11994,20002,21.845,4.0,67.841,2.0,5.0,0.0,24.987,18.080,26.664,2027
11995,20002,21.847,4.0,69.301,2.0,5.0,0.0,24.974,18.687,27.580,2028

In [708]:
# filter the data that was engineered for 2024
osm_data_2024 = df[df["year"]==2024]
osm_data_2024 = osm_data_2024.drop(columns="year")
# counts can't below 0
osm_data_2024[osm_data_2024 < 0] = 0
print(osm_data_2024.shape)
osm_data_2024.head(3)

(567, 10)

,SAL_CODE,commercial,education,food_establishments,healthcare,industrial,public_transport,recreation,residential,shopping
11966,20111,66.0,8.000,85.749,16.0,6.0,3.0,26.000,179.0,27.897
11971,20198,0.0,1.949,0.000,3.0,0.0,0.0,4.000,0.0,0.000
11976,21193,3.0,6.000,6.164,2.0,0.0,0.0,46.003,12.0,2.000

In [709]:
# output the artificial data
osm_data_2024.to_csv("../../data/curated/osm_data_2024.csv")

In [710]:
# automate the process for the last two cells
for i in range(0,4):
    year = 2025+i
    output_df = df[df["year"]==year]
    output_df= output_df.drop(columns="year")
    # counts can't below 0
    output_df[output_df <= 0] = 0
    print(output_df.shape)
    output_df.to_csv(f"../../data/curated/osm_data_{year}.csv")

(567, 10)
(567, 10)
(567, 10)
(567, 10)