# Crime Data Preprocessing
This notebook runs through the preprocessing for the crime data.

In [17]:
import pandas as pd

### 1 Data Download
Before running this notebook ensure that the file LGA_Criminal_Incidents_Year_Ending_March.xlsx has been downloaded to the data/landing directory.  This can be done by running the download datasets.py script.

### 2. Pivot Table in Excel
Once the excel file has been downloaded, to ease simplicity of code and speed up run time so less data has to be handled, a pivot table (similar to a pandas groupby) is created in the excel file downloaded.  The steps on how to do this are outlined below:

- 2.1: Go to the sheet named 'Table 03' of the crime data and select (highlight) of all of the data.

- 2.2: Now go to insert table of excel and click pivot table. The table range should be all cells highlighted and the option to place pivot table into a new worksheet should be selected, once this is done press ok to create a pivot table in a new notebook.

- 2.3: Go to this newly created sheet and rename the worksheet 'pivot_table' then click on the pivot table to begin creating it.

- 2.4: The following field names should be placed into the categories outlined here: Year should be placed into the columns category, Offence division should be placed into columns as well, Suburb/Town name into rows and place count of suburb/town name in values.

- 2.5: Save the file

### 3 Read in Data & Dataframe Restructuring
In this section the crime data is read in and restructured so the dataset is neat.

In [18]:
# read in the crime data
crime_records_df = pd.read_excel("../../data/landing/LGA_Criminal_Incidents_Year_Ending_March.xlsx", sheet_name="pivot_table")
crime_records_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Count of Suburb/Town Name,Column Labels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2015,NaN,NaN,NaN,NaN,NaN,2015 Total,2016,NaN,...,2024,NaN,NaN,NaN,NaN,NaN,2024 Total,(blank),(blank) Total,Grand Total
3,Row Labels,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences,NaN,A Crimes against the person,B Property and deception offences,...,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences,NaN,(blank),NaN,NaN
4,Abbeyard,NaN,NaN,NaN,1,NaN,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,Yuulong,NaN,2,1,NaN,NaN,NaN,3,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2849,Zeerust,1,2,NaN,NaN,NaN,NaN,3,5,4,...,NaN,1,NaN,NaN,1,NaN,2,NaN,NaN,46
2850,Zumsteins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
2851,(blank),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2852,Grand Total,8344,12857,2308,3834,2956,591,30890,8721,13667,...,9760,13504,2115,3513,4273,497,33662,NaN,NaN,333900

In [19]:
# clean up the NaN columns at the top

crime_records_df.columns = crime_records_df.iloc[2]

# Drop the first three rows (remove the old header and data rows)
crime_records_df = crime_records_df.drop([0, 1, 2])

crime_records_df = crime_records_df.reset_index(drop=True)

crime_records_df

2,NaN,2015,NaN,NaN,NaN,NaN,NaN,2015 Total,2016,NaN,...,2024,NaN,NaN,NaN,NaN,NaN,2024 Total,(blank),(blank) Total,Grand Total
0,Row Labels,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences,NaN,A Crimes against the person,B Property and deception offences,...,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences,NaN,(blank),NaN,NaN
1,Abbeyard,NaN,NaN,NaN,1,NaN,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
2,Abbotsford,10,18,3,7,4,NaN,42,13,16,...,11,16,4,8,6,1,46,NaN,NaN,479
3,Aberfeldie,6,11,2,NaN,1,NaN,20,8,11,...,7,11,NaN,2,3,NaN,23,NaN,NaN,238
4,Aberfeldy,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845,Yuulong,NaN,2,1,NaN,NaN,NaN,3,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2846,Zeerust,1,2,NaN,NaN,NaN,NaN,3,5,4,...,NaN,1,NaN,NaN,1,NaN,2,NaN,NaN,46
2847,Zumsteins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
2848,(blank),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2849,Grand Total,8344,12857,2308,3834,2956,591,30890,8721,13667,...,9760,13504,2115,3513,4273,497,33662,NaN,NaN,333900

In [20]:
# create new column names

new_column_names = []
new_column_names.append('suburb_name')
year = 2015
iteration = 0
# add the year to column names 
for cell in crime_records_df.iloc[0]:
    if cell != 'Row Labels' and year != 2025:
        if type(cell) == float:
             new_column_names.append(str(year) + '_total')
        else:
            new_column_names.append(str(year) + '_' + str(cell))

        iteration += 1
        # update the year variable once all of those columns relating to that year are renamed
        if iteration == 7:
            iteration = 0
            year += 1

# add miscellanuous column names
new_column_names.append('na_1')
new_column_names.append('na_2')
new_column_names.append('all_crimes_2015-2024')

crime_records_df.columns = new_column_names
crime_records_df

,suburb_name,2015_A Crimes against the person,2015_B Property and deception offences,2015_C Drug offences,2015_D Public order and security offences,2015_E Justice procedures offences,2015_F Other offences,2015_total,2016_A Crimes against the person,2016_B Property and deception offences,...,2024_A Crimes against the person,2024_B Property and deception offences,2024_C Drug offences,2024_D Public order and security offences,2024_E Justice procedures offences,2024_F Other offences,2024_total,na_1,na_2,all_crimes_2015-2024
0,Row Labels,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences,NaN,A Crimes against the person,B Property and deception offences,...,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences,NaN,(blank),NaN,NaN
1,Abbeyard,NaN,NaN,NaN,1,NaN,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
2,Abbotsford,10,18,3,7,4,NaN,42,13,16,...,11,16,4,8,6,1,46,NaN,NaN,479
3,Aberfeldie,6,11,2,NaN,1,NaN,20,8,11,...,7,11,NaN,2,3,NaN,23,NaN,NaN,238
4,Aberfeldy,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845,Yuulong,NaN,2,1,NaN,NaN,NaN,3,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2846,Zeerust,1,2,NaN,NaN,NaN,NaN,3,5,4,...,NaN,1,NaN,NaN,1,NaN,2,NaN,NaN,46
2847,Zumsteins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
2848,(blank),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2849,Grand Total,8344,12857,2308,3834,2956,591,30890,8721,13667,...,9760,13504,2115,3513,4273,497,33662,NaN,NaN,333900

In [21]:
# drop unnecessary rows and columns as they contain easily calculable values if needed or contain a lot of NaN values
crime_records_df = crime_records_df.drop(columns=["na_1", "na_2"])
crime_records_df = crime_records_df.drop([0,2848,2849])
crime_records_df

,suburb_name,2015_A Crimes against the person,2015_B Property and deception offences,2015_C Drug offences,2015_D Public order and security offences,2015_E Justice procedures offences,2015_F Other offences,2015_total,2016_A Crimes against the person,2016_B Property and deception offences,...,2023_F Other offences,2023_total,2024_A Crimes against the person,2024_B Property and deception offences,2024_C Drug offences,2024_D Public order and security offences,2024_E Justice procedures offences,2024_F Other offences,2024_total,all_crimes_2015-2024
1,Abbeyard,NaN,NaN,NaN,1,NaN,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
2,Abbotsford,10,18,3,7,4,NaN,42,13,16,...,1,49,11,16,4,8,6,1,46,479
3,Aberfeldie,6,11,2,NaN,1,NaN,20,8,11,...,NaN,22,7,11,NaN,2,3,NaN,23,238
4,Aberfeldy,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,Acheron,1,1,NaN,NaN,NaN,NaN,2,NaN,NaN,...,NaN,1,1,NaN,NaN,NaN,1,NaN,2,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Yundool,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2844,Yuroke,1,7,NaN,NaN,2,NaN,10,1,5,...,NaN,7,2,4,NaN,1,1,NaN,8,78
2845,Yuulong,NaN,2,1,NaN,NaN,NaN,3,NaN,2,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
2846,Zeerust,1,2,NaN,NaN,NaN,NaN,3,5,4,...,NaN,6,NaN,1,NaN,NaN,1,NaN,2,46
2847,Zumsteins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [22]:
# fill any empty cell of a record type with 0
crime_records_df = crime_records_df.fillna(0)
crime_records_df = crime_records_df.infer_objects(int)
crime_records_df

/var/folders/dy/529c1fmn5nv__cgj0j36sm1m0000gn/T/ipykernel_73125/3905759588.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  crime_records_df = crime_records_df.fillna(0)

,suburb_name,2015_A Crimes against the person,2015_B Property and deception offences,2015_C Drug offences,2015_D Public order and security offences,2015_E Justice procedures offences,2015_F Other offences,2015_total,2016_A Crimes against the person,2016_B Property and deception offences,...,2023_F Other offences,2023_total,2024_A Crimes against the person,2024_B Property and deception offences,2024_C Drug offences,2024_D Public order and security offences,2024_E Justice procedures offences,2024_F Other offences,2024_total,all_crimes_2015-2024
1,Abbeyard,0,0,0,1,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,7
2,Abbotsford,10,18,3,7,4,0,42,13,16,...,1,49,11,16,4,8,6,1,46,479
3,Aberfeldie,6,11,2,0,1,0,20,8,11,...,0,22,7,11,0,2,3,0,23,238
4,Aberfeldy,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2
5,Acheron,1,1,0,0,0,0,2,0,0,...,0,1,1,0,0,0,1,0,2,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Yundool,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,5
2844,Yuroke,1,7,0,0,2,0,10,1,5,...,0,7,2,4,0,1,1,0,8,78
2845,Yuulong,0,2,1,0,0,0,3,0,2,...,0,2,0,0,0,0,0,0,0,9
2846,Zeerust,1,2,0,0,0,0,3,5,4,...,0,6,0,1,0,0,1,0,2,46
2847,Zumsteins,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6

### 4 Match to SAL codes to the Suburbs of Interest
Here we append the SAL code of suburbs/towns names to the dataset.

In [23]:
# read in the SAL code converter
SAL_converter_df = pd.read_csv("../../data/landing/CG_SSC_2016_SAL_2021.csv")
SAL_converter_df

,SSC_CODE_2016,SSC_NAME_2016,SAL_CODE_2021,SAL_NAME_2021,RATIO_FROM_TO,INDIV_TO_REGION_QLTY_INDICATOR,OVERALL_QUALITY_INDICATOR,BMOS_NULL_FLAG
0,10001.0,Aarons Pass,10001,Aarons Pass,1.0,Good,Good,0
1,10002.0,Abbotsbury,10002,Abbotsbury,1.0,Good,Good,0
2,10003.0,Abbotsford (NSW),10003,Abbotsford (NSW),1.0,Good,Good,0
3,10004.0,Abercrombie,10004,Abercrombie,1.0,Good,Good,0
4,10005.0,Abercrombie River,10005,Abercrombie River,1.0,Good,Good,0

In [24]:
crime_suburbs = list(crime_records_df['suburb_name'])

In [25]:
# check for suburbs that can not be found in the converter to SAL
mis_match = []
for suburb in crime_suburbs:
    if not suburb in list(SAL_converter_df["SAL_NAME_2021"]):
        # perform a second check specifying the suburb is in Victoria
        adj_search_name = suburb + ' (Vic.)'
        if not adj_search_name in list(SAL_converter_df["SAL_NAME_2021"]):
            mis_match.append(suburb)
len(mis_match)

15

Check if these suburbs are relevant (in historical rent suburbs) need to manually searched 
we define relevant as a suburb the historical rental data in the curated dataset (run the historical rent_preprocessing and
check the data/curated directory to get this dataset) as this is the suburb rental data we have, any crime records from suburbs
not in that dataset is irrelevant.

In [26]:
mis_match

['Ascot',
 'Bellfield',
 'Big Hill',
 'Fairy Dell',
 'Golden Point',
 'Happy Valley',
 'Hillside',
 'Killara',
 'Merrijig',
 'Moonlight Flat',
 'Myall',
 'Newtown',
 'Springfield',
 'Stony Creek',
 'Thomson']

If any of the following not found suburbs are in those in our area of study (suburbs in the historical rent) these need to be found, below is a list of which of the unfound suburbs need an SAL code
- 'Ascot': Not in area of study
- 'Bellfield': EXCEPTION - in the rental dataset
- 'Big Hill': Not in area of study
- 'Fairy Dell': Not in area of study
- 'Golden Point': Not in area of study
- 'Happy Valley': Not in area of study
- 'Hillside': EXCEPTION - in the rental dataset
- 'Killara' Not in area of study
- 'Merrijig': Not in area of study
- 'Moonlight Flat': Not in area of study
- 'Myall': Not in area of study
- 'Newtown': EXCEPTION - in the rental dataset
- 'Springfield': Not in area of study
- 'Stony Creek': Not in area of study
- 'Thomson': Not in area of study

In [27]:
# retrieve SAL codes from the converter
SAL_codes = []
missing_count = 0
for suburb in crime_suburbs:
    # check if suburb name is in the converter

    # suburb is in the converter
    if suburb in list(SAL_converter_df['SAL_NAME_2021']):
        suburb_SAL_2021 = SAL_converter_df[SAL_converter_df['SAL_NAME_2021'] == suburb]['SAL_CODE_2021'].values[0]
        SAL_codes.append(suburb_SAL_2021)

    # suburb is in the converter under a different name
    elif suburb + ' (Vic.)' in list(SAL_converter_df['SAL_NAME_2021']):
        adj_search_name = suburb + ' (Vic.)'
        suburb_SAL_2021 = SAL_converter_df[SAL_converter_df['SAL_NAME_2021'] == adj_search_name]['SAL_CODE_2021'].values[0]
        SAL_codes.append(suburb_SAL_2021)
        
    # suburb not found in the converter
    else:
        # exception handling of suburbs
        if suburb == "Hillside":
            SAL_codes.append(21193)
        elif suburb == "Bellfield":
            SAL_codes.append(20198)
        elif suburb == "Newtown":
            SAL_codes.append(21938)
        # both search and exception hanlding failed to find a SAL code for the suburb
        else:
            print(suburb + ' Not found')
            missing_count += 1
            SAL_codes.append(-1)

missing_count

Ascot Not found
Big Hill Not found
Fairy Dell Not found
Golden Point Not found
Happy Valley Not found
Killara Not found
Merrijig Not found
Moonlight Flat Not found
Myall Not found
Springfield Not found
Stony Creek Not found
Thomson Not found

12

In [28]:
# append SAL codes to the dataset

crime_records_df['SAL_CODE_2021'] = SAL_codes
crime_records_df

,suburb_name,2015_A Crimes against the person,2015_B Property and deception offences,2015_C Drug offences,2015_D Public order and security offences,2015_E Justice procedures offences,2015_F Other offences,2015_total,2016_A Crimes against the person,2016_B Property and deception offences,...,2023_total,2024_A Crimes against the person,2024_B Property and deception offences,2024_C Drug offences,2024_D Public order and security offences,2024_E Justice procedures offences,2024_F Other offences,2024_total,all_crimes_2015-2024,SAL_CODE_2021
1,Abbeyard,0,0,0,1,0,1,2,0,0,...,0,0,0,0,0,0,0,0,7,20001
2,Abbotsford,10,18,3,7,4,0,42,13,16,...,49,11,16,4,8,6,1,46,479,20002
3,Aberfeldie,6,11,2,0,1,0,20,8,11,...,22,7,11,0,2,3,0,23,238,20003
4,Aberfeldy,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,2,20004
5,Acheron,1,1,0,0,0,0,2,0,0,...,1,1,0,0,0,1,0,2,27,20005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Yundool,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,5,22940
2844,Yuroke,1,7,0,0,2,0,10,1,5,...,7,2,4,0,1,1,0,8,78,22941
2845,Yuulong,0,2,1,0,0,0,3,0,2,...,2,0,0,0,0,0,0,0,9,22942
2846,Zeerust,1,2,0,0,0,0,3,5,4,...,6,0,1,0,0,1,0,2,46,22943
2847,Zumsteins,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,22944

In [29]:
list(crime_records_df.columns)

['suburb_name',
 '2015_A Crimes against the person',
 '2015_B Property and deception offences',
 '2015_C Drug offences',
 '2015_D Public order and security offences',
 '2015_E Justice procedures offences',
 '2015_F Other offences',
 '2015_total',
 '2016_A Crimes against the person',
 '2016_B Property and deception offences',
 '2016_C Drug offences',
 '2016_D Public order and security offences',
 '2016_E Justice procedures offences',
 '2016_F Other offences',
 '2016_total',
 '2017_A Crimes against the person',
 '2017_B Property and deception offences',
 '2017_C Drug offences',
 '2017_D Public order and security offences',
 '2017_E Justice procedures offences',
 '2017_F Other offences',
 '2017_total',
 '2018_A Crimes against the person',
 '2018_B Property and deception offences',
 '2018_C Drug offences',
 '2018_D Public order and security offences',
 '2018_E Justice procedures offences',
 '2018_F Other offences',
 '2018_total',
 '2019_A Crimes against the person',
 '2019_B Property and deception offences',
 '2019_C Drug offences',
 '2019_D Public order and security offences',
 '2019_E Justice procedures offences',
 '2019_F Other offences',
 '2019_total',
 '2020_A Crimes against the person',
 '2020_B Property and deception offences',
 '2020_C Drug offences',
 '2020_D Public order and security offences',
 '2020_E Justice procedures offences',
 '2020_F Other offences',
 '2020_total',
 '2021_A Crimes against the person',
 '2021_B Property and deception offences',
 '2021_C Drug offences',
 '2021_D Public order and security offences',
 '2021_E Justice procedures offences',
 '2021_F Other offences',
 '2021_total',
 '2022_A Crimes against the person',
 '2022_B Property and deception offences',
 '2022_C Drug offences',
 '2022_D Public order and security offences',
 '2022_E Justice procedures offences',
 '2022_F Other offences',
 '2022_total',
 '2023_A Crimes against the person',
 '2023_B Property and deception offences',
 '2023_C Drug offences',
 '2023_D Public order and security offences',
 '2023_E Justice procedures offences',
 '2023_F Other offences',
 '2023_total',
 '2024_A Crimes against the person',
 '2024_B Property and deception offences',
 '2024_C Drug offences',
 '2024_D Public order and security offences',
 '2024_E Justice procedures offences',
 '2024_F Other offences',
 '2024_total',
 'all_crimes_2015-2024',
 'SAL_CODE_2021']

In [30]:
# reorder the columns so SAL suburb name and SAL code is closer to the leftmost columns of the dataframe for readability
new_col_order = [
 'suburb_name',
 'SAL_CODE_2021',
 '2015_A Crimes against the person',
 '2015_B Property and deception offences',
 '2015_C Drug offences',
 '2015_D Public order and security offences',
 '2015_E Justice procedures offences',
 '2015_F Other offences',
 '2015_total',
 '2016_A Crimes against the person',
 '2016_B Property and deception offences',
 '2016_C Drug offences',
 '2016_D Public order and security offences',
 '2016_E Justice procedures offences',
 '2016_F Other offences',
 '2016_total',
 '2017_A Crimes against the person',
 '2017_B Property and deception offences',
 '2017_C Drug offences',
 '2017_D Public order and security offences',
 '2017_E Justice procedures offences',
 '2017_F Other offences',
 '2017_total',
 '2018_A Crimes against the person',
 '2018_B Property and deception offences',
 '2018_C Drug offences',
 '2018_D Public order and security offences',
 '2018_E Justice procedures offences',
 '2018_F Other offences',
 '2018_total',
 '2019_A Crimes against the person',
 '2019_B Property and deception offences',
 '2019_C Drug offences',
 '2019_D Public order and security offences',
 '2019_E Justice procedures offences',
 '2019_F Other offences',
 '2019_total',
 '2020_A Crimes against the person',
 '2020_B Property and deception offences',
 '2020_C Drug offences',
 '2020_D Public order and security offences',
 '2020_E Justice procedures offences',
 '2020_F Other offences',
 '2020_total',
 '2021_A Crimes against the person',
 '2021_B Property and deception offences',
 '2021_C Drug offences',
 '2021_D Public order and security offences',
 '2021_E Justice procedures offences',
 '2021_F Other offences',
 '2021_total',
 '2022_A Crimes against the person',
 '2022_B Property and deception offences',
 '2022_C Drug offences',
 '2022_D Public order and security offences',
 '2022_E Justice procedures offences',
 '2022_F Other offences',
 '2022_total',
 '2023_A Crimes against the person',
 '2023_B Property and deception offences',
 '2023_C Drug offences',
 '2023_D Public order and security offences',
 '2023_E Justice procedures offences',
 '2023_F Other offences',
 '2023_total',
 '2024_A Crimes against the person',
 '2024_B Property and deception offences',
 '2024_C Drug offences',
 '2024_D Public order and security offences',
 '2024_E Justice procedures offences',
 '2024_F Other offences',
 '2024_total',
 'all_crimes_2015-2024'
]
crime_records_df = crime_records_df[new_col_order]
crime_records_df

,suburb_name,SAL_CODE_2021,2015_A Crimes against the person,2015_B Property and deception offences,2015_C Drug offences,2015_D Public order and security offences,2015_E Justice procedures offences,2015_F Other offences,2015_total,2016_A Crimes against the person,...,2023_F Other offences,2023_total,2024_A Crimes against the person,2024_B Property and deception offences,2024_C Drug offences,2024_D Public order and security offences,2024_E Justice procedures offences,2024_F Other offences,2024_total,all_crimes_2015-2024
1,Abbeyard,20001,0,0,0,1,0,1,2,0,...,0,0,0,0,0,0,0,0,0,7
2,Abbotsford,20002,10,18,3,7,4,0,42,13,...,1,49,11,16,4,8,6,1,46,479
3,Aberfeldie,20003,6,11,2,0,1,0,20,8,...,0,22,7,11,0,2,3,0,23,238
4,Aberfeldy,20004,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,2
5,Acheron,20005,1,1,0,0,0,0,2,0,...,0,1,1,0,0,0,1,0,2,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Yundool,22940,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,5
2844,Yuroke,22941,1,7,0,0,2,0,10,1,...,0,7,2,4,0,1,1,0,8,78
2845,Yuulong,22942,0,2,1,0,0,0,3,0,...,0,2,0,0,0,0,0,0,0,9
2846,Zeerust,22943,1,2,0,0,0,0,3,5,...,0,6,0,1,0,0,1,0,2,46
2847,Zumsteins,22944,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6

### 5 Output the data

In [31]:
# output the data

export_path = '../../data/curated/'
crime_records_df.to_csv(f"{export_path}crime_suburb_data.csv", index=False)