In [77]:
import pandas as pd

### Normalized Weights DataFrame ###

,Category,Feature,Weight,Normalized_Weight
0,Accessibility & Connectivity,distance_to_CBD,8,19.05
1,Accessibility & Connectivity,time_to_CBD,7,16.67
2,Accessibility & Connectivity,distance_to_station,7,16.67
3,Accessibility & Connectivity,time_to_station,6,14.29
4,Accessibility & Connectivity,public_transport,9,21.43
5,Accessibility & Connectivity,transport_reservations,5,11.90
6,Amenities & Services,Healthcare,10,10.99
7,Amenities & Services,Parks and gardens,9,9.89
8,Amenities & Services,Education,9,9.89
9,Amenities & Services,Food establishments,8,8.79

In [79]:
# now we can use the normalized weights to calculate the liveability score for each suburb

suburbs = pd.read_csv('../data/curated/procesed_data.csv')

In [80]:
# lower case all columns
suburbs.columns = map(str.lower, suburbs.columns)

# replace spaces with underscores in column names
suburbs.columns = suburbs.columns.str.replace(' ', '_')

# lower case all feature names
df['Feature'] = df['Feature'].str.lower()

# add underscores
df['Feature'] = df['Feature'].str.replace(' ', '_')

In [81]:
suburbs.columns

Index(['distance_to_cbd', 'time_to_cbd', 'distance_to_station',
       'time_to_station', 'cemeteries', 'civic_squares_and_promenades',
       'conservation_reserves', 'government_schools',
       'natural_and_semi-natural_open_space', 'non-government_schools',
       'parks_and_gardens', 'public_housing_reserves', 'recreation_corridor',
       'services_and_utilities_reserves',
       'sportsfields_and_organised_recreation', 'tertiary_institutions',
       'transport_reservations', 'year', 'average_household_size',
       'average_num_psns_per_bedroom', 'median_age_persons', 'tot_p_p',
       'total_dwelings', 'average_quarterly_count', 'commercial', 'education',
       'food_establishments', 'healthcare', 'industrial', 'public_transport',
       'recreation', 'residential', 'shopping', 'sal_code', 'median_score',
       'average_price', 'proximity_to_beach', 'interest_rate',
       'median_tot_fam_inc_weekly/inflation',
       'median_tot_hhd_inc_weekly/inflation',
       'median_tot_prsnl_inc_weekly/inflation',
       'average_weekly_rent/inflation/household_size',
       'a_crimes_against_the_person/per_person',
       'b_property_and_deception_offences/per_person',
       'c_drug_offences/per_person',
       'd_public_order_and_security_offences/per_person',
       'e_justice_procedures_offences/per_person',
       'f_other_offences/per_person'],
      dtype='object')

In [82]:
# get score for each suburb
suburbs['liveability_score'] = 0
for index, row in df.iterrows():
    suburbs['liveability_score'] += suburbs[row['Feature']] * row['Normalized_Weight']

# get top ten suburbs
top_ten = suburbs.sort_values(by='liveability_score', ascending=False).head(100)

In [83]:
top_ten['sal_code']

2845    22917
2307    22917
1857    22917
1679    22917
1119    22917
        ...
177     22775
2929    22750
2283    22750
2094    22766
2013    22750
Name: sal_code, Length: 100, dtype: int64

In [84]:
# merge with shapefile find name

import geopandas as gpd
SAL = gpd.read_file("../data/landing/SAL_data/SAL_2021_AUST_GDA2020.shp")

In [85]:
# Filter out non-numeric values
SAL = SAL[SAL['SAL_CODE21'].apply(lambda x: x.isnumeric())]

# Ensure 'SAL_CODE21' is of type int in SAL GeoDataFrame
SAL['SAL_CODE21'] = SAL['SAL_CODE21'].astype(int)

# Merge top_ten with SAL GeoDataFrame on 'sal_code' and 'SAL_CODE21'
top_ten = top_ten.merge(SAL, left_on='sal_code', right_on='SAL_CODE21')

# Convert 'sal_code' to int in top_ten DataFrame
top_ten['sal_code'] = top_ten['sal_code'].astype(int)

In [86]:
# merge against code

In [87]:
top_ten

,distance_to_cbd,time_to_cbd,distance_to_station,time_to_station,cemeteries,civic_squares_and_promenades,conservation_reserves,government_schools,natural_and_semi-natural_open_space,non-government_schools,...,SAL_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,SHAPE_Leng,SHAPE_Area,geometry
0,9.180654,6.799279,7.205561,5.309257,0.693147,0.0,0.000000,1.945910,3.091042,0.693147,...,Yarraville,2,Victoria,AUS,Australia,5.6587,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.131754,0.000579,"POLYGON ((144.88986 -37.80977, 144.88992 -37.8..."
1,9.180654,6.799279,7.205561,5.309257,0.693147,0.0,0.000000,1.945910,3.091042,0.693147,...,Yarraville,2,Victoria,AUS,Australia,5.6587,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.131754,0.000579,"POLYGON ((144.88986 -37.80977, 144.88992 -37.8..."
2,9.180654,6.799279,7.205561,5.309257,0.693147,0.0,0.000000,1.945910,3.091042,0.693147,...,Yarraville,2,Victoria,AUS,Australia,5.6587,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.131754,0.000579,"POLYGON ((144.88986 -37.80977, 144.88992 -37.8..."
3,9.180654,6.799279,7.205561,5.309257,0.693147,0.0,0.000000,1.945910,3.091042,0.693147,...,Yarraville,2,Victoria,AUS,Australia,5.6587,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.131754,0.000579,"POLYGON ((144.88986 -37.80977, 144.88992 -37.8..."
4,9.180654,6.799279,7.205561,5.309257,0.693147,0.0,0.000000,1.945910,3.091042,0.693147,...,Yarraville,2,Victoria,AUS,Australia,5.6587,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.131754,0.000579,"POLYGON ((144.88986 -37.80977, 144.88992 -37.8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11.001156,8.255751,9.516059,6.626585,0.000000,0.0,2.079442,1.098612,3.761200,0.693147,...,Whittlesea,2,Victoria,AUS,Australia,106.2401,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.578729,0.010820,"POLYGON ((145.15422 -37.51561, 145.15419 -37.5..."
96,10.479809,7.698347,7.633418,5.415211,0.693147,0.0,0.000000,2.890372,4.174387,2.833213,...,Werribee,2,Victoria,AUS,Australia,42.8849,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.394910,0.004393,"POLYGON ((144.67539 -37.91386, 144.67262 -37.9..."
97,10.479809,7.698347,7.633418,5.415211,0.693147,0.0,0.000000,2.890372,4.174387,2.833213,...,Werribee,2,Victoria,AUS,Australia,42.8849,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.394910,0.004393,"POLYGON ((144.67539 -37.91386, 144.67262 -37.9..."
98,10.479809,7.698347,7.633418,5.415211,0.693147,0.0,0.000000,2.890372,4.174387,2.833213,...,Werribee,2,Victoria,AUS,Australia,42.8849,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.394910,0.004393,"POLYGON ((144.67539 -37.91386, 144.67262 -37.9..."
99,10.150836,7.499423,8.575481,6.400257,0.000000,0.0,0.000000,2.197225,2.397895,1.386294,...,Wheelers Hill,2,Victoria,AUS,Australia,10.4255,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.172116,0.001068,"POLYGON ((145.17866 -37.89046, 145.17988 -37.8..."

In [88]:
top_ten['SAL_NAME21']

0        Yarraville
1        Yarraville
2        Yarraville
3        Yarraville
4        Yarraville
          ...
95       Whittlesea
96         Werribee
97         Werribee
98         Werribee
99    Wheelers Hill
Name: SAL_NAME21, Length: 100, dtype: object